.content {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: white;
  background-color: lightcoral;
  cursor: pointer;

  padding: 10px 20px;
  margin-right: 20px;
  text-transform: uppercase;
}
